pandas~=2.3.3
pymongo~=4.15.5
pytz~=2025.2
tqdm~=4.66.4
torch~=2.10.0
transformers~=5.2.0
jieba~=0.42.1
drissionpage~=4.1.1.2
requests~=2.32.3
beautifulsoup4~=4.14.3
akshare~=1.18.30
numpy~=2.4.0
tenacity~=9.1.4